// forms

form,
fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}

input::-ms-clear {  display: none; width : 0; height: 0; }
input::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  box-sizing: border-box;
  border: 0;
  padding: 16px 0;
  margin: 0;
  width: 100%;
  display: block;
  font-size: 16px;
  line-height: 24px;
  color: $black;
  display: block;
  width: 100%;
  background: none;
  &:focus {
      @include placeholder {
          color: transparent !important;
      }
  }

  @include placeholder {
      color: $placeholder-color;
  }
}

select {
  -webkit-border-radius: 0;
}

textarea {
  resize: none;
  line-height: 24px;
  vertical-align: top;
  padding-top: 12px;
  padding-bottom: 12px;
  &.default {
      min-height: 70px;
      overflow-y: auto;
  }
}

button,
input[type='button'],
input[type='reset'],
input[type='file'],
input[type='submit'] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  cursor: pointer;
}

.input {
  display: block;
  position: relative;
  text-align: left;
  margin-bottom: 26px;
  border-bottom: 1px solid $disabled;
  &:before, &:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -1px;
    width: 0;
    height: 2px;
    transition: .3s cubic-bezier(.4,0,.2,1);
    transition-property: left, width;
  }
  &:before {background-color: $yellow;}
  &:after {background-color: $red;}
  .input-label {
    position: absolute;
    left: 0;
    top: 16px;
    font-size: 16px;
    line-height: 24px;
    color: $gray;
    z-index: 10;
    pointer-events: none;
    overflow: hidden;
    white-space: nowrap;
    transform-origin: left top;
    transition: .15s cubic-bezier(.4,0,.2,1);
    transition-property: transform, color;
    span {color: $red;}
  }
  .error {display: none !important;}
  &.focus {
    z-index: 5;
    &:before {
      left: 0;
      width: 100%;
    }
    .input-label {
      transform: translateY(-22px) scale(.75);
    }
  }
  &.error {
    &:after {
      left: 0;
      width: 100%;
    }
  }
  &.enter {
    .input-label {
      transform: translateY(-22px) scale(.75);
    }
  }
}

.button {
  display: inline-block;
  vertical-align: top;
  min-width: 168px;
  text-align: center;
  height: 48px;
  font-size: 14px;
  font-weight: bold;
  line-height: 48px;
  color: white;
  position: relative;
  letter-spacing: -.025em;
  padding: 0 12px;
  margin: 0;
  background: none;
  border: 0;
  cursor: pointer;
  transition: color $animation-speed ease;
  span {
      display: inline-block;
      position: relative;
  }
  svg {
    position: absolute;
    top: calc(50% - 13px);
    right: 18px;
    width: 24px;
    height: 24px;
    fill: white;
    &.spinner {
      fill: transparent;
      right: calc(50% - 12px);
    }
  }
  &:before {
      content: '';
      @extend %fullscreen;
      border-radius: 24px;
      background-color: black;
      transition: transform $animation-speed ease;
  }
  &.disabled, &:disabled {
      pointer-events: none;
      &:before {
        background-color: $disabled;
        box-shadow: none;
        pointer-events: none;
      }
  }
  &.loading {
    color: transparent;
    pointer-events: none;
    .spinner {
      fill: white;
      animation: spin 1s linear infinite;
    }
  }
  &.yellow {
    color: black;
    &:before {background-color: $yellow;}
  }
  &.gray {
    color: #727272;
    &:before {background-color: #E5E5E5;}
  }
  @include media('≥tablet') {
    &:hover {
      &:before {transform: scale(1.05);}
    }
  }
}

@keyframes spin {
  100% {transform: rotate(360deg);}
}

@keyframes button-pulse {
  to { box-shadow: 0 0 0 24px rgba(black, 0); }
}
