<!DOCTYPE html>
<html>
<!-- build:section layout.head -->
<!-- /build -->
<body>
	<div id="svg-icon-placeholder" style="display: none;"></div>
	<div id="wrapper">
		<!-- build:section layout.header -->
		<!-- /build -->
		<main id="main">
            <div class="block right no-padding" data-bg="images/content/fit.jpg">
                <div class="bg mobile-visible" data-bg="images/content/fit.gif"></div>
                <video width="100%" height="100%" autoplay loop muted poster="video/video.jpg">
                    <source src="video/video.mp4" type="video/mp4">
                    <source src="video/video.ogv" type="video/ogg">
                    <source src="video/video.webm" type="video/webm">
                </video>
                <div class="mobile-visible">
                    <h2 class="white">Оборудование от ведущих брендов фитнес-индустрии. Широкий выбор эффективных индивидуальных и групповых программ.</h2>
                </div>
                <a data-fancybox href="https://www.youtube.com/watch?v=L9wWEFM4GN4" class="play-button"></a>
                <div class="bottom">
                    <ul class="social mobile-hidden">
                        <li><a target="_blank" href="https://www.instagram.com/fithaus_ua/"><svg xmlns="http://www.w3.org/2000/svg"><use xlink:href="#icon-instagram"></use></svg></a></li>
                        <li><a target="_blank" href="https://www.youtube.com/channel/UCP9MDgbLZ7QaWTcjf4cqGJg"><svg xmlns="http://www.w3.org/2000/svg"><use xlink:href="#icon-youtube"></use></svg></a></li>
                        <li><a target="_blank" href="https://www.facebook.com/fithaus.com.ua/"><svg xmlns="http://www.w3.org/2000/svg"><use xlink:href="#icon-facebook"></use></svg></a></li>
                    </ul>
                    <a class="phone" href="tel:0800601241"><svg xmlns="http://www.w3.org/2000/svg"><use xlink:href="#icon-phone"></use></svg>0 800 601 241</a>
                </div>
            </div>
            <div class="block yellow v-align" data-bg="images/content/img01.png">
                <div class="middle mobile-hidden restriction">
                    <h2>Оборудование от ведущих брендов фитнес-индустрии. Широкий выбор эффективных индивидуальных и групповых программ.</h2>
                    <a href="#" class="button callback"><span>Обратный звонок</span></a>
                </div>
                <div class="mobile-visible">
                    <h2>Только лучшее<br>оборудование</h2>
                    <p>Свяжитесь с нашим менеджером, и<br>мы подберем подходящий для Вас<br>абонемент.</p>
                    <div class="mobile-image" data-bg="images/content/imgs_mobile2.jpg"></div>
                </div>
                <div class="bottom logos">
                    <span>Лучшее <br>оборудование</span>
                    <div class="list">
                       <div class="item"><img src="images/content/logos01.png" width="85" alt=""></div>
                       <div class="item"><img src="images/content/logos02.png" width="88" alt=""></div>
                       <div class="item"><img src="images/content/logos03.png" width="58" alt=""></div>
                       <div class="item"><img src="images/content/logos04.png" width="79" alt=""></div>
                    </div>
                </div>
            </div>
            <div class="ticker">
                <div class="item">
                    <div class="middle">
                        <h2>Боевые <br>тренировки</h2>
                        <p>Умение сочетать удары руками и ногами, дает большее количество комбинаций ударов, которые можно использовать во время боя.</p>
                    </div>
                    <div class="image" data-bg="images/content/banner_mma.jpg"></div>
                </div>
                <div class="item">
                    <div class="middle">
                        <h2>Тренировки <br>TRX</h2>
                        <p>Тренировочная система на базе простого многофункционального тренажера, которая получила популярность во всем мире.</p>
                    </div>
                    <div class="image" data-bg="images/content/banner_trx.jpg"></div>
                </div>
                <div class="item">
                    <div class="middle">
                        <h2>Силовые <br>тренировки</h2>
                        <p>Тренировки, направленные на проработку всех основных мышечных групп с использованием лучшего оборудования.</p>
                    </div>
                    <div class="image" data-bg="images/content/banner_body.jpg"></div>
                </div>
                <div class="item">
                    <div class="middle">
                        <h2>Смешанный <br>формат</h2>
                        <p>Высокоинтенсивные тренировки, направленные на развитие силовой выносливости и ускорение метаболизма.</p>
                    </div>
                    <div class="image" data-bg="images/content/banner_sf.jpg"></div>
                </div>
                <div class="item">
                    <div class="middle">
                        <h2>Тренировки на <br>велотренажерах</h2>
                        <p>Тренировки на стационарных велотренажерах, сочетающие в себе интенсивную и высокоинтенсивную интервальную работу.</p>
                    </div>
                    <div class="image" data-bg="images/content/banner_velo.jpg"></div>
                </div>
                <div class="item">
                    <div class="middle">
                        <h2>Занятия в <br>бассейне</h2>
                        <p>Плавание, не зря называют самым популярным видом фитнеса, оно творит с нашим организмом настоящие чудеса.</p>
                    </div>
                    <div class="image" data-bg="images/content/banner_pool.jpg"></div>
                </div>
            </div>
            <div class="block no-padding">
                <ul class="image-list">
                    <li><a data-fancybox="gallery" href="images/content/inst01.jpg"><svg xmlns="http://www.w3.org/2000/svg"><use xlink:href="#icon-spinner"></use></svg><span class="b-lazy" data-src="images/content/inst01.jpg"></span></a></li>
                    <li><a data-fancybox="gallery" href="images/content/inst02.jpg"><svg xmlns="http://www.w3.org/2000/svg"><use xlink:href="#icon-spinner"></use></svg><span class="b-lazy" data-src="images/content/inst02.jpg"></span></a></li>
                    <li><a data-fancybox="gallery" href="images/content/inst03.jpg"><svg xmlns="http://www.w3.org/2000/svg"><use xlink:href="#icon-spinner"></use></svg><span class="b-lazy" data-src="images/content/inst03.jpg"></span></a></li>
                    <li><a data-fancybox="gallery" href="images/content/inst04.jpg"><svg xmlns="http://www.w3.org/2000/svg"><use xlink:href="#icon-spinner"></use></svg><span class="b-lazy" data-src="images/content/inst04.jpg"></span></a></li>
                    <li><a data-fancybox="gallery" href="images/content/inst05.jpg"><svg xmlns="http://www.w3.org/2000/svg"><use xlink:href="#icon-spinner"></use></svg><span class="b-lazy" data-src="images/content/inst05.jpg"></span></a></li>
                    <li><a data-fancybox="gallery" href="images/content/inst06.jpg"><svg xmlns="http://www.w3.org/2000/svg"><use xlink:href="#icon-spinner"></use></svg><span class="b-lazy" data-src="images/content/inst06.jpg"></span></a></li>
                    <li><a data-fancybox="gallery" href="images/content/inst07.jpg"><svg xmlns="http://www.w3.org/2000/svg"><use xlink:href="#icon-spinner"></use></svg><span class="b-lazy" data-src="images/content/inst07.jpg"></span></a></li>
                    <li><a data-fancybox="gallery" href="images/content/inst08.jpg"><svg xmlns="http://www.w3.org/2000/svg"><use xlink:href="#icon-spinner"></use></svg><span class="b-lazy" data-src="images/content/inst08.jpg"></span></a></li>
                    <li><a data-fancybox="gallery" href="images/content/inst09.jpg"><svg xmlns="http://www.w3.org/2000/svg"><use xlink:href="#icon-spinner"></use></svg><span class="b-lazy" data-src="images/content/inst09.jpg"></span></a></li>
                    <li><a data-fancybox="gallery" href="images/content/inst10.jpg"><svg xmlns="http://www.w3.org/2000/svg"><use xlink:href="#icon-spinner"></use></svg><span class="b-lazy" data-src="images/content/inst10.jpg"></span></a></li>
                    <li><a data-fancybox="gallery" href="images/content/inst11.jpg"><svg xmlns="http://www.w3.org/2000/svg"><use xlink:href="#icon-spinner"></use></svg><span class="b-lazy" data-src="images/content/inst11.jpg"></span></a></li>
                    <li><a data-fancybox="gallery" href="images/content/inst12.jpg"><svg xmlns="http://www.w3.org/2000/svg"><use xlink:href="#icon-spinner"></use></svg><span class="b-lazy" data-src="images/content/inst12.jpg"></span></a></li>
                    <li><a data-fancybox="gallery" href="images/content/inst13.jpg"><svg xmlns="http://www.w3.org/2000/svg"><use xlink:href="#icon-spinner"></use></svg><span class="b-lazy" data-src="images/content/inst13.jpg"></span></a></li>
                    <li><a data-fancybox="gallery" href="images/content/inst14.jpg"><svg xmlns="http://www.w3.org/2000/svg"><use xlink:href="#icon-spinner"></use></svg><span class="b-lazy" data-src="images/content/inst14.jpg"></span></a></li>
                    <li><a data-fancybox="gallery" href="images/content/inst15.jpg"><svg xmlns="http://www.w3.org/2000/svg"><use xlink:href="#icon-spinner"></use></svg><span class="b-lazy" data-src="images/content/inst15.jpg"></span></a></li>
                </ul>
                <a target="_blank" href="https://www.instagram.com/fithaus_ua/" class="social-link"><svg xmlns="http://www.w3.org/2000/svg"><use xlink:href="#icon-instagram"></use></svg></a>
            </div>
            <div class="block yellow" data-bg="images/content/img05.jpg">
                <div class="middle restriction">
                    <h2>Абонемент со<br>скидкой 25%</h2>
                    <p>Пока идет карантин, у Вас есть <br>возможность приобрести <br>абонемент со скидкой 25%. <br>Вы сможете активировать <br>приобретенный абонемент в <br>течении двух месяцев после <br>окончания карантина. </p>
                    <div class="mobile-image long mobile-visible" data-bg="images/content/imgs_mobile1.jpg"></div>
                    <a href="cards" class="button scroll-link"><span>Выбрать абонемент</span></a>
                </div>
				</div>
				<div data-id="cards" class="block fullwidth white center">
					<h2>Абонементы</h2>
					<div class="tabs">
						<ul>
							<li class="active"><a href="#adult">взрослый</a></li>
							<li><a href="#children">детский</a></li>
						</ul>
						<span></span>
					</div>
					<div data-id="adult" class="tab display">
						<p class="gray">При покупке карты ребенку до 13 лет посещение клуба возможно в сопровождении родителя с клубной картой. Для использования всех услуг карты Fit Swim Plus Kid рекомендуем родителю приобретение карты с максимальным наполнением.</p>
						<div class="card">
							<div class="image" style="background-color: #000000;"><div class="bg" data-bg="images/logo_mobile.svg"></div></div>
							<h3>Fit Start</h3>
							<strong class="price"><span>6 000 грн.</span> 4 500 грн. <em>-25%</em></strong>
							<ul>
								<li>Начальный инструктаж <span>1</span></li>
								<li>Тренажерный зал <span><svg xmlns="http://www.w3.org/2000/svg"><use xlink:href="#icon-check"></use></svg></span></li>
								<li>Кардиозал <span><svg xmlns="http://www.w3.org/2000/svg"><use xlink:href="#icon-check"></use></svg></span></li>
								<li>Бассейн <span>1</span></li>
								<li>Комплекс саун <span>1</span></li>
								<li>Сейфы <span><svg xmlns="http://www.w3.org/2000/svg"><use xlink:href="#icon-check"></use></svg></span></li>
								<li>Раздевалка <span><svg xmlns="http://www.w3.org/2000/svg"><use xlink:href="#icon-check"></use></svg></span></li>
								<li class="disabled">Групповые занятия <em>*</em> <span><svg xmlns="http://www.w3.org/2000/svg"><use xlink:href="#icon-line"></use></svg></span></li>
							</ul>
							<a data-popup data-type="inline" href="#buy_1" class="button"><span>Купить абонемент</span></a>
						</div>
						<div class="card">
							<div class="image" style="background-color: #FFE800;"><div class="bg" data-bg="images/logo.svg"></div></div>
							<h3>Fit Swim Plus</h3>
							<strong class="price"><span>12 000 грн.</span> 9 000 грн. <em>-25%</em></strong>
							<ul>
								<li>Начальный инструктаж <span>1</span></li>
								<li>Тренажерный зал <span><svg xmlns="http://www.w3.org/2000/svg"><use xlink:href="#icon-check"></use></svg></span></li>
								<li>Кардиозал <span><svg xmlns="http://www.w3.org/2000/svg"><use xlink:href="#icon-check"></use></svg></span></li>
								<li>Бассейн <span><svg xmlns="http://www.w3.org/2000/svg"><use xlink:href="#icon-check"></use></svg></span></li>
								<li>Комплекс саун <span><svg xmlns="http://www.w3.org/2000/svg"><use xlink:href="#icon-check"></use></svg></span></li>
								<li>Сейфы <span><svg xmlns="http://www.w3.org/2000/svg"><use xlink:href="#icon-check"></use></svg></span></li>
								<li>Раздевалка <span><svg xmlns="http://www.w3.org/2000/svg"><use xlink:href="#icon-check"></use></svg></span></li>
								<li class="disabled">Групповые занятия <em>*</em> <span><svg xmlns="http://www.w3.org/2000/svg"><use xlink:href="#icon-line"></use></svg></span></li>
							</ul>
							<a data-popup data-type="inline" href="#buy_2" class="button"><span>Купить абонемент</span></a>
						</div>
					</div>
					<div data-id="children" class="tab">
						<p>При покупке карты ребенку до 13 лет посещение клуба возможно в сопровождении родителя с клубной картой. Для использования всех услуг карты Fit Swim Plus Kid рекомендуем родителю приобретение карты с максимальным наполнением.</p>
						<div class="card center">
							<div class="image" style="background-color: #000000;"><div class="bg" data-bg="images/logo_mobile.svg"></div></div>
							<h3>Fit Swim Plus Kid</h3>
							<strong class="price"><span>6 000 грн.</span> 4 500 грн. <em>-25%</em></strong>
							<ul>
								<li>Начальный инструктаж <span>1</span></li>
								<li>Тренажерный зал <span><svg xmlns="http://www.w3.org/2000/svg"><use xlink:href="#icon-check"></use></svg></span></li>
								<li>Кардиозал <span><svg xmlns="http://www.w3.org/2000/svg"><use xlink:href="#icon-check"></use></svg></span></li>
								<li>Бассейн <span><svg xmlns="http://www.w3.org/2000/svg"><use xlink:href="#icon-check"></use></svg></span></li>
								<li>Комплекс саун <span><svg xmlns="http://www.w3.org/2000/svg"><use xlink:href="#icon-check"></use></svg></span></li>
								<li>Сейфы <span><svg xmlns="http://www.w3.org/2000/svg"><use xlink:href="#icon-check"></use></svg></span></li>
								<li>Раздевалка <span><svg xmlns="http://www.w3.org/2000/svg"><use xlink:href="#icon-check"></use></svg></span></li>
								<li>Игровая студия <span><svg xmlns="http://www.w3.org/2000/svg"><use xlink:href="#icon-check"></use></svg></span></li>
								<li class="disabled">Групповые занятия <em>*</em> <span><svg xmlns="http://www.w3.org/2000/svg"><use xlink:href="#icon-line"></use></svg></span></li>
							</ul>
							<a data-popup data-type="inline" href="#buy_3" class="button"><span>Купить абонемент</span></a>
						</div>
					</div>
					<span class="required">За дополнительную плату</span>
					<p class="note">После окончании карантина у Вас есть 60 дней для активации абонемента. <br>Если Вы не активируете абонемент в течении данного срока, <br>он активируется автоматически.</p>
				</div>
            <div class="block v-align" data-id="contacts">
                <strong class="logo mobile-visible"><a data-slogan="СЕТЬ ФИТНЕС КЛУБОВ" href="#">FIT HAUS</a></strong>
                <div class="middle">
                    <ul class="addres">
                        <li>
                            <h4>Запорожье</h4>
                            <p>Ул. Лермонтова 9-а <br> <a href="tel:0612801111">(061) 280-11-11</a></p>
                        </li>
                        <li>
                            <h4>Днепр</h4>
                            <p>Ул. Баррикадная 16, <br>БЦ “Кудашевский”, 2 этаж <br> <a href="tel:0800601242">0 800 60 12 42</a> <br> <a href="tel:0800601243">0 800 60 12 43</a></p>
                        </li>
                        <li>
                            <h4>Запорожье</h4>
                            <p>Никопольское шоссе 3-б <br> <a href="tel:0612801111">(061) 280-11-11</a></p>
                        </li>
                        <li>
                            <h4>Днепр</h4>
                            <p>Набережная 25-б <br> <a href="tel:0800601242">0 800 60 12 42</a> <br> <a href="tel:0800601243">0 800 60 12 43</a></p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="block no-padding mobile-hidden">
                <video width="100%" height="100%" autoplay loop muted poster="video/video_2.jpg">
                    <source src="video/video_2.mp4" type="video/mp4">
                    <source src="video/video_2.ogv" type="video/ogg">
                    <source src="video/video_2.webm" type="video/webm">
                </video>
                <a data-fancybox href="https://www.youtube.com/watch?v=lmbNGecC32c" class="play-button"></a>
                <div class="top">
                    <ul class="social">
                        <li><a target="_blank" href="https://www.instagram.com/fithaus_ua/"><svg xmlns="http://www.w3.org/2000/svg"><use xlink:href="#icon-instagram"></use></svg></a></li>
                        <li><a target="_blank" href="https://www.youtube.com/channel/UCP9MDgbLZ7QaWTcjf4cqGJg"><svg xmlns="http://www.w3.org/2000/svg"><use xlink:href="#icon-youtube"></use></svg></a></li>
                        <li><a target="_blank" href="https://www.facebook.com/fithaus.com.ua/"><svg xmlns="http://www.w3.org/2000/svg"><use xlink:href="#icon-facebook"></use></svg></a></li>
                    </ul>
                    <a class="phone" href="tel:0800601241"><svg xmlns="http://www.w3.org/2000/svg"><use xlink:href="#icon-phone"></use></svg>0 800 601 241</a>
                </div>
            </div>
		</main>
		<!-- build:section layout.footer -->
		<!-- /build -->
	</div>
	<form id="buy_1" style="display: none;" action="https://www.liqpay.ua/api/3/checkout" method="post" data-default class="modal-content" target="_blank">
		<h3>Персональная информация</h3>
		<div class="input">
			<input name="name" type="text" required>
			<label class="input-label">Имя</label>
		</div>
		<div class="input">
			<input name="surname" type="text" required>
			<label class="input-label">Фамилия</label>
		</div>
		<div class="input">
			<input name="phone" type="tel" required>
			<label class="input-label">Телефон</label>
		</div>
		<div class="input">
			<input data-rule-email="true" name="email" type="email" required>
			<label class="input-label">Email</label>
		</div>
		<footer>
			<button type="submit" class="button"><span>Далее</span></button>
		</footer>
		<input type="hidden" name="_token" value="OpgW4ozRSxLc6z2vXL63zQLFJVjVAOZQl8SQJ48i">
		<input type="hidden" name="data" value="eyJwdWJsaWNfa2V5IjoiaTE2NDUwNDg0NjA5IiwidmVyc2lvbiI6IjMiLCJhY3Rpb24iOiJwYXkiLCJhbW91bnQiOiI0NTAwIiwiY3VycmVuY3kiOiJVQUgiLCJkZXNjcmlwdGlvbiI6IkZpdCBTdGFydC4gXHUwNDIzXHUwNDNiLiBcdTA0MWJcdTA0MzVcdTA0NDBcdTA0M2NcdTA0M2VcdTA0M2RcdTA0NDJcdTA0M2VcdTA0MzJcdTA0MzAgOS1cdTA0MzAuIFx1MDQyNlx1MDQzNVx1MDQzZFx1MDQzMCA0NTAwIFx1MDQzM1x1MDQ0MFx1MDQzZC4gSUQgXHUwNDNmXHUwNDNlXHUwNDNhXHUwNDQzXHUwNDNmXHUwNDNhXHUwNDM4IFRRWDdFQkpIUlMiLCJvcmRlcl9pZCI6IlRRWDdFQkpIUlMiLCJyZXN1bHRfdXJsIjoiaHR0cDpcL1wvcmVhY3Rvci5maXRoYXVzLmNvbS51YVwvdGhhbmtzIiwic2VydmVyX3VybCI6Imh0dHA6XC9cL3JlYWN0b3IuZml0aGF1cy5jb20udWFcL2FjdGl2YXRlX29yZGVyIiwic2FuZGJveCI6IjEifQ==">
		<input type="hidden" name="signature" value="kYiuNHsV5BM/OIAN3K3Th8WpDXE=">
		<input type="hidden" name="language" value="ru">
		<input type="hidden" name="description" value="Fit Start. Ул. Лермонтова 9-а. Цена 4500 грн. ID покупки TQX7EBJHRS">
	</form>
</body>
</html>
