<!DOCTYPE html>
<html>
<!-- build:section layout.head -->
<!-- /build -->
<body class="splash-layout">
	<div id="svg-icon-placeholder" style="display: none;"></div>
	<div id="wrapper">
		<!-- build:section layout.header -->
		<!-- /build -->
		<main id="main">
			<div class="block flex">
				<div class="middle">
					<ul class="locations">
						<li>
							<a href="#">
								<svg xmlns="http://www.w3.org/2000/svg"><use xlink:href="#icon-location"></use></svg>
								<h4>Днепр</h4>
								<p>Ул. Баррикадная 16</p>
							</a>
						</li>
						<li>
							<a href="#">
								<svg xmlns="http://www.w3.org/2000/svg"><use xlink:href="#icon-location"></use></svg>
								<h4>Днепр</h4>
								<p>Набережная 25-б</p>
							</a>
						</li>
						<li>
							<a href="#">
								<svg xmlns="http://www.w3.org/2000/svg"><use xlink:href="#icon-location"></use></svg>
								<h4>Запорожье</h4>
								<p>Ул. Лермонтова 9-а</p>
							</a>
						</li>
						<li>
							<a href="#">
								<svg xmlns="http://www.w3.org/2000/svg"><use xlink:href="#icon-location"></use></svg>
								<h4>Запорожье</h4>
								<p>Никопольское шоссе 3-б</p>
							</a>
						</li>
					</ul>
				</div>
				<div class="bottom">
					<ul class="social mobile-hidden">
						 <li><a target="_blank" href="https://www.instagram.com/fithaus_ua/"><svg xmlns="http://www.w3.org/2000/svg"><use xlink:href="#icon-instagram"></use></svg></a></li>
						 <li><a target="_blank" href="https://www.youtube.com/channel/UCP9MDgbLZ7QaWTcjf4cqGJg"><svg xmlns="http://www.w3.org/2000/svg"><use xlink:href="#icon-youtube"></use></svg></a></li>
						 <li><a target="_blank" href="https://www.facebook.com/fithaus.com.ua/"><svg xmlns="http://www.w3.org/2000/svg"><use xlink:href="#icon-facebook"></use></svg></a></li>
					</ul>
					<a class="phone" href="tel:0800601241"><svg xmlns="http://www.w3.org/2000/svg"><use xlink:href="#icon-phone"></use></svg>0 800 601 241</a>
			  </div>
			</div>
		</main>
	</div>
</body>
</html>
